# emacs swp files

\#*\#

# neovim undo tree folder
neovim/undo/

# vim's swap-files
*.swp
dotfiles.1.gz
neovim/.config/nvim/undo
neomutt/.config/neomutt/accounts.yml
neomutt/.config/neomutt/accounts.neomuttrc
